﻿<select class="form-select" id="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  
</select>

<script>
    var data = {
        partname: ""
    }
    $.ajax({
        url: "https://apiwilayah.janji.id/provinsi",
        method: "post",
        data: JSON.stringify(data),
        type: "json",
        contentType: "application/json; charset=utf-8",
        success: function(res) {
          console.log(res.data[0].nama)
          $.each( res.data, function(index, value) {
            $("#form-select").append(
              `
                <option value="1">${res.data[index].nama}</option>
              `
            )
          })
        }
    })
</script>